openapi: 3.0.3
info:
  title: Smart Task Planner API
  description: AI-powered task planning API using Google Gemini
  version: 1.0.0
  contact:
    name: Anurag Goel
    url: https://github.com/KILLERGTG01
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.anurag-goel.com
    description: Production server
  - url: http://localhost:8080
    description: Development server

paths:
  /health:
    get:
      summary: Health check
      description: Check if the API is running
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: integer
                    example: 1703123456
                  service:
                    type: string
                    example: smart-task-planner-api

  /api/generate:
    post:
      summary: Generate task plan
      description: Generate an AI-powered task plan for a given goal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - goal
              properties:
                goal:
                  type: string
                  description: The goal to create a plan for
                  example: Learn React in 30 days
                title:
                  type: string
                  description: Optional title for the plan
                  example: React Learning Journey
      responses:
        '200':
          description: Plan generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Plan ID (only for authenticated users)
                    example: 550e8400-e29b-41d4-a716-446655440000
                  plan:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  saved:
                    type: boolean
                    description: Whether the plan was saved
                    example: false
                  message:
                    type: string
                    description: Status message
                    example: Plan generated but not saved. Login to save your plans.

components:
  schemas:
    Task:
      type: object
      properties:
        task:
          type: string
          description: Task description
          example: Set up React development environment
        duration_days:
          type: integer
          description: Estimated duration in days
          example: 2
        depends_on:
          type: array
          items:
            type: string
          description: Prerequisites for this task
          example: []